NODE_ENV=development
PORT=3001

DB_HOST=db
DB_PORT=
DB_DATABASE=
DB_TYPE=
DB_SYNCHRONIZE=
DB_PASSWORD=
DB_USERNAME=
DB_RUN_MIGRATION=true

REDIS_HOST=
REDIS_PORT=

JWT_SECRET_ENCODE=
JWT_SECRET_RESET=30m
JWT_SECRET_ACCESS=
JWT_SECRET_REFRESH=30d
JWT_PEPPER=

# Upload
UPLOAD_MAX_SIZE=5 # 5MB
UPLOAD_MAX_FILE=5

# crypto
SECRET_KEY=test
